html {
  background: #f0f0f0;
}

body {
  padding: 0;
  margin: 0;
}

a:visited {
  color: blue;
}

.shortcutsPopup .fakeLink {
  margin-left: 16px;
}

nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 16px);
  background-color: #f0f0f0;
  padding: 8px;
  font-size: 12px;
  top: 0;
  z-index: 500;
}

nav .homeLink a {
  text-decoration: none;
  color: #000;
}

nav span+span {
  display: inline-block;
  margin-left: 16px;
}

@media only screen and (max-width: 600px) {
  nav {
    /* flex-direction: column; */
    align-items: start;
    gap: 8px;
  }
}

.pagination__gallery__pagination {
  display: inline-block;
  margin-right: 16px;
}

@media only screen and (max-width: 600px) {
 .pagination__gallery__pagination { 
    position: absolute;
    top: calc(100dvh - 30px);
    background: #F0F0F0;
    padding: 8px;
    left: 0px;
    width: 100%;
    text-align: center;
}
}

.pagination__gallery__pagination div {
  display: inline-block;
  margin-left: 8px;
}

.about__aboutContainer {
  margin: 8px;
  margin-top: 64px;
}

.about__subtitle {
  margin-top: 1px;
  font-size: 12px;
}

.about__subtitle+.about__subtitle {
  margin-top: 19px;
}

.gallery {
  width: 100vw;
  height: 100vh;
  padding-top: 16px;
}

.galleryImage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .galleryImage {
    height: auto;
    margin-bottom: 128px;
  }

  .galleryImage:first-of-type {
    margin-top: 48px;
  }
  
}

.galleryImage__caption {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.gallery_album .galleryImage__caption {
  opacity: 1
}

.galleryImage img:hover+.galleryImage__caption {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  transition-delay: 0.75s;
}

.galleryImage img {
  border: 1px solid #ddd;
  max-height: calc(100vh - 100px);
  max-width: calc(100vw - 100px);
  width: auto;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .galleryImage img {
    max-width: calc(100vw - 4px);
  }
}

.shortcuts {
  bottom: 0px;
  font-size: 12px;
  border-radius: 2px;
  color: #444;
  z-index: 1000;
  display: inline-block;
  margin-left: 16px;
}

@media only screen and (max-width: 600px) {
  .shortcuts {
    display: none;
  }
}

.shortcuts ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.shortcuts ul li {
  display: inline-block;
}

.shortcuts ul li+li {
  margin-left: 24px;
}

.shortcuts ul li span {
  font-size: 12px;
  display: inline-block;
  position: relative;
}

.shortcutCode {
  display: inline-block;
  width: 32px;
  text-align: right;
}

.shortcutsPopup {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #f0f0f0;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.shortcutsPopup ul {
  padding: 0;
  margin: 0;
}

.shortcutsPopup ul li {
  line-height: 1.5;
  list-style: none;
}

.shortcutsPopup ul li:nth-of-type(2n) {
  margin-bottom: 16px;
}

.galleryImage {
  display: flex;
  flex-direction: column;
}

.galleryImage__caption {
  background: #f9f9f9;
  padding: 1px 24px 4px;
  border-radius: 2px;
  margin-top: 8px;
  font-style: italic;
}

.galleryImage__caption div {
  display: inline-block;
  font-size: 12px;
}

.galleryImage__headline {
  font-weight: bold;
}

.galleryImage__caption div+div {
  margin-left: 16px;
}

.loginButton {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.pagination__gallery__placeholder {
  color: #999;
}

.gallery__titlecard {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gallery__titlecard-albumname {
  font-weight: bold;
}

.gallery__titlecard-description {
  font-size: 12px;
  margin-top: 16px;
}

.profileWrapper {
  display: inline-flex;
  margin-right: 16px;
}

.profileWrapper p {
  margin: 0;
  padding: 0;
}

.logoutButton {
  cursor: pointer;
}
